# Database Connections
MAIN_DB_URL=postgresql://nicolas:nicolas@n8n_db-crm:5432/crm?sslmode=disable
MARKETING_DB_URL=postgresql://user:pass@localhost:5432/crm_marketing?sslmode=disable

# Authentication
# Admin password for login
ADMIN_PASSWORD=change_this_password

# Webhooks & Tracking
# Base URL for tracking pixel
NEXT_PUBLIC_APP_URL=http://localhost:3000

# n8n Webhook URL
N8N_WEBHOOK_URL=https://n8n.aliminlomasdelmar.com/webhook/451ea8a2-a6d4-4827-9c6f-375ba8adcdd8
N8N_CALLBACK_TOKEN=your_secure_token_here
